<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div class="container">
        <ul id="menuPrincipal" class="nav nav-tabs justify-content-center bg-dark ">
          <li class="nav-item">
            <a  href="{% url 'workClass:index' 0 %}"
                class="nav-link {% block arg_class1 %}text-white{% endblock %}">
                <h2>Informacion general</h2></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'workClass:galeria' %}"
               class="nav-link {% block arg_class2 %}text-white{% endblock %}" >
                <h2>Galeria</h2></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'workClass:multimodal' %}"
               class="nav-link {% block arg_class3 %}text-white{% endblock %}" >
                <h2>Multimodal</h2></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'workClass:estadisticas' %}"
               class="nav-link {% block arg_class4 %}text-white{% endblock %}" >
                <h2>Estadisticas</h2></a>
          </li>
        </ul>
    </div>


    <title>Work-Class</title>
</head>
<body>

    {% block index %}{% endblock %}
    {% block galeria %}{% endblock %}
    {% block multimodal %}{% endblock %}
    {% block estadisticas %}{% endblock %}

</body>
</html>

