{% extends 'workClass/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block arg_class3 %}active text-black{% endblock %}
    {% block concepto %}
           <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Sesiones</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selecciona la Sesion
                            </button>
                            <div class="dropdown-menu">

                                 <div class="container" style="height: 180px;overflow-y: scroll;">
                                {% for sesion in todos_sesiones %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'workClass:concepto' %}">{{sesion.fecha}}</a>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <p>Seleccione la sesion para cargar el concepto de la analitica</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Docentes</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selecciona al Docente
                            </button>
                            <div class="dropdown-menu">
                                <div class="container" style="height: 180px;overflow-y: scroll;">
                                {% for docente in todos_docentes %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'workClass:concepto' %}">{{docente.nombre}}</a>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <p>Seleccione el docente para cargar el concepto de la analitica</p>
                    </div>
                </div>
            </div>
            <div class="row">

                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Videos</h1>

                            <div class="container" style="height: 130px;overflow-y: scroll;">
                            <div class="list-group ">
                                 {%for video in todos_videos%}
                                    <button id="video_click" type="button" class="list-group-item list-group-item-action">{{video.fecha}}</button>
                                {% endfor %}
                            </div>
                            </div>
                         <hr class="my-4">
                         <p>Seleccione el video para cargar el concepto de la analitica</p>
                    </div>

                </div>

                  <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Audios</h1>

                            <div class="container" style="height: 130px;overflow-y: scroll;">
                            <div class="list-group ">
                                {%for audio in todos_audios%}
                                    <button id="video_click" type="button" class="list-group-item list-group-item-action">{{audio.fecha}}</button>
                                {% endfor %}
                            </div>
                            </div>
                          <hr class="my-4">
                          <p>Seleccione el audio para cargar el concepto de la analitica</p>
                    </div>
                </div>
            </div>

            <div class="jumbotron">
            <h1 class="display-4">Concepto de la analitica</h1>
            <hr class="my-4">
            <p>Descripcion de la analitica en la cual debe entregar una
            descripcion de cada sesion, docente, video, audio, tema y su
            respectivo analisis de emociones</p>
            <hr class="my-4">
            <p>Mostrando datos estadisticos relevantes, max, min, mean, frecuencias, graficas...</p>

        </div>
        </div>
    {% endblock %}
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#video_click').click(function(){
            $('#video_click').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>