{% extends 'workClass/base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block arg_class4 %}active text-black{% endblock %}
    {% block estadisticas %}
        <div class="container">
            <p></p>
            <div class="row">

                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Videos</h1>

                            <div class="container" style="height: 130px;overflow-y: scroll;">
                            <div class="list-group ">
                                 {% for video in todos_videos %}
                                    <a href="{% url 'workClass:estadisticas_video' video.id %}">
                                    <button type="button" class="list-group-item list-group-item-action">{{video.fecha}}</button>
                                    </a>
                                 {% endfor %}
                            </div>
                            </div>
                         <hr class="my-4">
                         <p>Seleccione el video para cargar el concepto de la analitica</p>
                    </div>

                </div>
                <div class="jumbotron">
                    <h1 class="display-4">Descripcion del video</h1>
                    <hr class="my-4">
                    <p><B>Fecha: </B>{{video.fecha}}</p>
                    <p><B>Formato: </B>{{video.formato}}</p>
                    <p><B>Duracion: </B>{{video.duracion}}</p>
                    <p><B>Emocion: </B>{{video.emocion}}</p>
                </div>

            </div>
            <div class="row">

                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Audios</h1>

                            <div class="container" style="height: 130px;overflow-y: scroll;">
                            <div class="list-group ">
                               {% for audio in todos_audios %}
                                    <a href="{% url 'workClass:estadisticas_audio' audio.id %}">
                                    <button type="button" class="list-group-item list-group-item-action">{{audio.fecha}}</button>
                                    </a>
                                {% endfor %}
                            </div>
                            </div>
                          <hr class="my-4">
                          <p>Seleccione el audio para cargar el concepto de la analitica</p>
                    </div>
                </div>
                <div class="jumbotron">
                    <h1 class="display-4">Descripcion del audio</h1>
                    <hr class="my-4">
                    <p><B>Fecha: </B>{{audio.fecha}}</p>
                    <p><B>Formato: </B>{{audio.formato}}</p>
                    <p><B>Duracion: </B>{{audio.duracion}}</p>
                    <p><B>Emocion: </B>{{audio.emocion}}</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Descripcion estadistica relevante</h1>
                        <hr class="my-4">
                        <p>Descripcion estadistica relevante tal como: max, min,
                            frecuencias de los datos historicos y globales del sistema</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Graficas</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccione en evento
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Grafica 1</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Grafica 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Grafica 3</a>
                            </div>
                        </div>
                        <hr class="my-4">

                        <img src="{{MEDIA_URL}}grafico1.jpg" preload="auto" height="250px">
                        <p></p>
                        <p>Descripcion de la grafica</p>
                    </div>
                </div>
            </div>

        </div>

    {% endblock %}
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#video_click').click(function(){
            $('#video_click').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>