{% extends 'workClass/base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>

    {% block arg_class4 %}active text-black{% endblock %}
    {% block estadisticas %}
        <div class="container">
            <p></p>
            <div class="row">

                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Videos</h1>

                            <div class="container" style="height: 130px;overflow-y: scroll;">
                            <div class="list-group ">
                                 {% for video in todos_videos %}
                                    <a href="{% url 'workClass:estadisticas_video' video.id %}">
                                    <button type="button" class="list-group-item list-group-item-action">{{video.fecha}}</button>
                                    </a>
                                 {% endfor %}
                            </div>
                            </div>
                         <hr class="my-4">
                         <p>Seleccione el video para cargar el concepto de la analitica</p>
                    </div>

                </div>
                <div class="jumbotron">
                    <h1 class="display-4">Descripcion del video</h1>
                    <hr class="my-4">
                    <p><B>Fecha: </B>{{video.fecha}}</p>
                    <p><B>Formato: </B>{{video.formato}}</p>
                    <p><B>Duracion: </B>{{video.duracion}}</p>
                    <p><B>Emocion: </B>{{video.emocion}}</p>
                </div>

            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Descripcion estadistica relevante</h1>
                        <hr class="my-4">
                        <canvas id="pie-chart" width="800" height="250"></canvas>
                        <script>
                            new Chart(document.getElementById("pie-chart"), {
                            type: 'pie',
                            data: {
                              labels: ["Happy","Angry","Surpriced","Sad","Calm","Disgusted","Confused"],
                              datasets: [{
                                label: "Population (millions)",
                                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                data: [62,10,8,15,5]
                              }]
                            },
                            options: {
                              title: {
                                display: true,
                                text: 'Clasificacion de emociones'
                              }
                            }
                        });
                        </script>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Graficas</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccione en evento
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Grafica 1</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Grafica 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Grafica 3</a>
                            </div>
                        </div>
                        <hr class="my-4">

                        <canvas id="bar-chart" width="800" height="250"></canvas>
                        <script>
                        new Chart(document.getElementById("bar-chart"), {
                            type: 'bar',
                            data: {
                              labels: ["Happy","Angry","Surpriced","Sad","Calm","Disgusted","Confused"],
                              datasets: [
                                {
                                  label: "Population (millions)",
                                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                  data: [5,62,10,15,8]
                                }
                              ]
                            },
                            options: {
                              legend: { display: false },
                              title: {
                                display: true,
                                text: 'Clasificacion de emociones'
                              }
                            }
                    });
                        </script>

                        <p></p>
                        <p>Descripcion de la grafica</p>
                    </div>
                </div>
            </div>

        </div>

    {% endblock %}
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#video_click').click(function(){
            $('#video_click').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>

