{% extends 'workClass/base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>

    {% block arg_class4 %}active text-black{% endblock %}
    {% block estadisticas %}
        <div class="container">
            <p></p>

            <div class="row">

                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-12">Docentes</h1>

                            <div class="container" style="height: 100px;overflow-y: scroll;">
                            <div class="list-group ">
                                 {% for docente in todos_docentes %}
                                    <a href="{% url 'workClass:estadisticas_docente' docente.id %}">
                                    <button type="button" class="list-group-item list-group-item-action">{{docente.nombre}}</button>
                                    </a>
                                 {% endfor %}
                            </div>
                            </div>
                         <hr class="my-4">
                         <p>Seleccione al docente para cargar el concepto</p>
                    </div>
                 </div>
                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-12">Descripcion grafica</h1>
                            <div class="list-group ">

                                <a href="{% url 'workClass:estadisticas_grafica' 1 %}">
                                <button type="button" class="list-group-item list-group-item-action">Relacion Docente - Nivel</button>
                                </a>
                                <a href="{% url 'workClass:estadisticas_grafica' 2 %}">
                                <button type="button" class="list-group-item list-group-item-action">Relacion Docente - Intensidad</button>
                                </a>

                            </div>
                         <hr class="my-4">
                         <p>Seleccione la descripcion grafica a cargar</p>
                    </div>
                 </div>

                  </div>


            <div class="row">

                <div class="col-sm">
                    <div class="jumbotron">

                    {% if grafica == 1 %}
                        <h1 class="display-12">Relacion entre las emociones del docente y los niveles</h1>
                        <hr class="my-4">

                        <canvas id="doughnut-chart" width="50%" height="30vh"></canvas>
                        <script>
                            var emociones = JSON.parse('{{ emociones|safe }}');
                            var HAPPY = JSON.parse('{{ HAPPY|safe }}');
                            var ANGRY = JSON.parse('{{ ANGRY|safe }}');
                            var SURPRICED = JSON.parse('{{ SURPRICED|safe }}');
                            var SAD = JSON.parse('{{ SAD|safe }}');
                            var CALM = JSON.parse('{{ CALM|safe }}');
                            var DISGUSTED = JSON.parse('{{ DISGUSTED|safe }}');
                            var CONFUSE = JSON.parse('{{ CONFUSE|safe }}');

                            new Chart(document.getElementById("doughnut-chart"), {
                            type: 'bar',
                            data: {
                                  labels: ["A1","A2","B1","B2","C"],
                              datasets: [{
                                label: "HAPPY",
                                backgroundColor: ["#F0E00B","#F0E00B","#F0E00B","#F0E00B","#F0E00B","#F0E00B","#F0E00B"],
                                data: HAPPY
                              },
                              {
                                label: "ANGRY",
                                backgroundColor: ["#F211D7","#F211D7","#F211D7","#F211D7","#F211D7","#F211D7","#F211D7"],
                                data: ANGRY
                              },
                              {
                                label: "SURPRICED",
                                backgroundColor: ["#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd"],
                                data: SURPRICED
                              },
                              {
                                label: "SAD",
                                backgroundColor: ["#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2"],
                                data: SAD
                              },
                              {
                                label: "CALM",
                                backgroundColor: ["#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f"],
                                data: CALM
                              },
                              {
                                label: "DISGUSTED",
                                backgroundColor: ["#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9"],
                                data: DISGUSTED
                              },
                              {
                                label: "CONFUSE",
                                backgroundColor: ["#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850"],
                                data: CONFUSE
                              }]
                            },
                            options: {
                                legend: {
                                    position: 'top',
                                },
                                  title: {
                                    display: true,
                                  },
                                  tooltips: {
                                mode: 'index',
                                intersect: false
                                },
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        stacked: true,
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                }
                            }
                        });
                        </script>
                    {% endif%}

                    {% if grafica == 2 %}
                        <h1 class="display-12">Relacion entre la intensidad horaria y las emociones del docente</h1>
                        <hr class="my-4">
                        <canvas id="doughnut-chart2" width="50%" height="30vh"></canvas>
                        <script>
                            var emociones = JSON.parse('{{ emociones|safe }}');
                            var HAPPY = JSON.parse('{{ HAPPY|safe }}');
                            var ANGRY = JSON.parse('{{ ANGRY|safe }}');
                            var SURPRICED = JSON.parse('{{ SURPRICED|safe }}');
                            var SAD = JSON.parse('{{ SAD|safe }}');
                            var CALM = JSON.parse('{{ CALM|safe }}');
                            var DISGUSTED = JSON.parse('{{ DISGUSTED|safe }}');
                            var CONFUSE = JSON.parse('{{ CONFUSE|safe }}');

                            new Chart(document.getElementById("doughnut-chart2"), {
                            type: 'bar',
                            data: {
                                labels: ["Regular","Semi-Intensivo","Intensivo"],
                             datasets: [{
                                label: "HAPPY",
                                backgroundColor: ["#F0E00B","#F0E00B","#F0E00B","#F0E00B","#F0E00B","#F0E00B","#F0E00B"],
                                data: HAPPY
                              },
                              {
                                label: "ANGRY",
                                backgroundColor: ["#F211D7","#F211D7","#F211D7","#F211D7","#F211D7","#F211D7","#F211D7"],
                                data: ANGRY
                              },
                              {
                                label: "SURPRICED",
                                backgroundColor: ["#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd","#3e95cd"],
                                data: SURPRICED
                              },
                              {
                                label: "SAD",
                                backgroundColor: ["#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2","#8e5ea2"],
                                data: SAD
                              },
                              {
                                label: "CALM",
                                backgroundColor: ["#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f"],
                                data: CALM
                              },
                              {
                                label: "DISGUSTED",
                                backgroundColor: ["#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9","#e8c3b9"],
                                data: DISGUSTED
                              },
                              {
                                label: "CONFUSE",
                                backgroundColor: ["#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850"],
                                data: CONFUSE
                              }]
                            },

                            options: {
                                legend: {
                                    position: 'top',
                                },
                                  title: {
                                    display: true,
                                  },
                                  tooltips: {
                                mode: 'index',
                                intersect: false
                                },
                                responsive: true,
                                scales: {
                                    xAxes: [{
                                        stacked: true,
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                }
                            }
                        });
                        </script>

                    {% endif%}
                    </div>
                </div>
            </div>

    {% endblock %}
</body>
</html>
