{% extends 'workClass/base.html' %}

<!DOCTYPE html>
<html lang="en">
<body>
{% block arg_class2 %}active text-black{% endblock %}

{% block galeria %}

        <div class="container">
             <p></p>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    {% include 'workClass/subir_video.html' %}
                </div>
                <div class="col-md-auto">
                    {% include 'workClass/subir_audio.html' %}
                </div>
                <div class="col-md-auto">
                    {% include 'workClass/borrar_consulta.html' %}
                </div>
            </div>
            <p></p>

            <div class="row">
                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Videos</h1>
                        <hr class="my-4">
                            <div class="container" style="height: 160px;overflow-y: scroll;">
                            <div class="list-group ">
                                {% if videos %}
                                    {% for video in videos %}
                                        <a href="{% url 'workClass:galeria_video' video.id %}">
                                        <button  type="button" class="list-group-item list-group-item-action">
                                            {{video.fecha}}
                                        </button>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <h2><B>Advertencia</B></h2>
                                    <p>No has seleccionado ningun curso.</p>
                                    <p>Vuelve a realizar una nueva consulta.</p>
                                {% endif %}
                            </div>
                            </div>
                    </div>
                </div>

                 <div class="col-sm">
                    <div class="jumbotron">
                        <video controls height="270px" width="470px">
                              <source src="{{ MEDIA_URL }}{{ reprod_video.ruta }}" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>

            <div class="jumbotron">
                <h1 class="display-4">Audios</h1>
                <hr class="my-4">
              <div class="row">
                <div class="col">

                    <div class="container" style="height: 220px;overflow-y: scroll;">
                    <div class="list-group ">
                        {% if audios %}
                            {% for audio in audios %}
                                <a href="{% url 'workClass:galeria_audio' audio.id %}">
                                <button type="button" class="list-group-item list-group-item-action">
                                    {{audio.fecha}}
                                </button>
                                </a>
                            {% endfor %}
                        {% else %}
                            <h2><B>Advertencia</B></h2>
                            <p>No has seleccionado ningun curso.</p>
                            <p>Vuelve a realizar una nueva consulta.</p>
                        {% endif %}
                    </div>
                    </div>
                </div>

                <div class="col">
                    <div class="jumbotron ">
                        <audio controls >
                            <source src="{{ MEDIA_URL }}{{ reprod_audio.ruta }}">
                        </audio>
                    </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#video_click').click(function(){
            $('#video_click').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>

