{% extends 'workClass/base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>
{% block arg_class2 %}active text-black{% endblock %}

{% block galeria %}

        <div class="container">
             <p></p>
            <div class="row">

                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Videos</h1>

                            <div class="container" style="height: 180px;overflow-y: scroll;">
                            <div class="list-group ">
                                {%for video in todos_videos%}
                                    <a href="{% url 'workClass:galeria_video' video.id %}">
                                    <button  id="video_click" type="button" class="list-group-item list-group-item-action">
                                        {{video.fecha}}
                                    </button>
                                    </a>
                                {% endfor %}
                            </div>
                            </div>
                    </div>
                </div>

                 <div class="col-sm">
                    <div class="jumbotron">

                        <video controls height="250px" width="470px">
                              <source src="{{ MEDIA_URL }}{{ reprod_video.ruta }}" type="video/mp4">
                        </video>

                    </div>
                </div>
            </div>

            <div class="jumbotron">
                <h1 class="display-4">Audios</h1>
                <hr class="my-4">
              <div class="row">
                <div class="col-sm">

                    <div class="container" style="height: 220px;overflow-y: scroll;">
                    <div class="list-group ">
                        {%for audio in todos_audios%}
                            <a href="{% url 'workClass:galeria_audio' audio.id %}">
                            <button  id="video_click" type="button" class="list-group-item list-group-item-action">
                                {{audio.fecha}}
                            </button>
                            </a>
                        {% endfor %}
                    </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="jumbotron">
                        <audio controls >
                            <source src="{{ MEDIA_URL }}{{ reprod_audio.ruta }}">
                        </audio>
                    </div>
                </div>
              </div>
            </div>



            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Sesiones</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selecciona la Sesion
                            </button>
                            <div class="dropdown-menu">
                                 <div class="container" style="height: 180px;overflow-y: scroll;">
                                {% for sesion in todos_sesiones %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'workClass:galeria_sesion' sesion.sesion.id %}">{{sesion.fecha}}</a>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <p><B>Docente: </B>{{sesion.docente.nombre}}</p>
                        <p><B>Curso: </B>{{sesion.curso}}</p>
                        <p><B>Sede: </B>{{sesion.sede}}</p>
                        <p><B>Horario: </B>{{sesion.horario}}</p>
                        <p><B>Idioma: </B>{{sesion.idioma}}</p>
                        <p><B>Intensidad horaria: </B>{{sesion.intensidad.horas_diarias}}</p>
                        <p><B>Intensidad semanal: </B>{{sesion.intensidad.horas_semanales}}</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-4">Docentes</h1>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selecciona al Docente
                            </button>
                            <div class="dropdown-menu">
                                <div class="container" style="height: 180px;overflow-y: scroll;">
                                    {% for docente in todos_docentes %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'workClass:galeria_docente' docente.id %}">{{docente.nombre}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <p><B>Nombre: </B>{{docente.nombre}}</p>
                        <p><B>Apellido: </B>{{docente.apellido}}</p>
                        <p><B>Edad: </B>{{docente.edad}}</p>
                        <p><B>Celular: </B>{{docente.celular}}</p>
                        <p><B>Correo: </B>{{docente.correo}}</p>
                        <p><B>Estado: </B>{{docente.estado}}</p>
                    </div>
                </div>
            </div>


            <div class="jumbotron">
                <h1 class="display-4">Temas</h1>
                <hr class="my-4">
                {% for tema in temas %}
                    <p><B>Nombre: </B>{{tema.nombre}}</p>
                    <p><B>Descripcion: </B>{{tema.descripcion}}</p>
                    <p><B>fecha: </B>{{tema.fecha}}</p>
                    <hr/>
                {% endfor %}
            </div>
        </div>


{% endblock %}
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#video_click').click(function(){
            $('#video_click').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>

