{% extends 'workClass/base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block arg_class1 %}active text-black{% endblock %}
    {% block index %}
        <p></p>
        <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-4">Sesiones</h1>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona la Sesion
                        </button>
                        <div class="dropdown-menu">
                             <div class="container" style="height: 180px;overflow-y: scroll;">
                                {% for sesion in todos_sesiones %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'workClass:index_sesion' sesion.sesion.id %}">{{sesion.fecha}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <p><B>Docente: </B>{{sesion.docente.nombre}}</p>
                    <p><B>Curso: </B>{{sesion.curso}}</p>
                    <p><B>Sede: </B>{{sesion.sede}}</p>
                    <p><B>Horario: </B>{{sesion.horario}}</p>
                    <p><B>Idioma: </B>{{sesion.idioma}}</p>
                    <p><B>Intensidad horaria: </B>{{sesion.intensidad.horas_diarias}}</p>
                    <p><B>Intensidad semanal: </B>{{sesion.intensidad.horas_semanales}}</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-4">Docentes</h1>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona al Docente
                        </button>
                        <div class="dropdown-menu">
                            <div class="container" style="height: 180px;overflow-y: scroll;">
                                {% for docente in todos_docentes %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'workClass:index_docente' docente.id %}">{{docente.nombre}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <p><B>Nombre: </B>{{docente.nombre}}</p>
                    <p><B>Apellido: </B>{{docente.apellido}}</p>
                    <p><B>Edad: </B>{{docente.edad}}</p>
                    <p><B>Celular: </B>{{docente.celular}}</p>
                    <p><B>Correo: </B>{{docente.correo}}</p>
                    <p><B>Estado: </B>{{docente.estado}}</p>
                </div>
            </div>


            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-4">Estudiantes</h1>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona al Estudiante
                        </button>
                        <div class="dropdown-menu">
                           <div class="container" style="height: 180px;overflow-y: scroll;">
                            {% for estudiante in todos_estudiantes %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'workClass:index_estudiante' estudiante.id %}">{{estudiante.nombre}}</a>
                            {% endfor %}
                           </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <p><B>Nombre: </B>{{estudiante.nombre}}</p>
                    <p><B>Apellido: </B>{{estudiante.apellido}}</p>
                    <p><B>Edad: </B>{{estudiante.edad}}</p>
                    <p><B>Celular: </B>{{estudiante.celular}}</p>
                    <p><B>Correo: </B>{{estudiante.correo}}</p>
                    <p><B>Estado: </B>{{estudiante.estado}}</p>
                </div>
            </div>

        </div>

        <div class="jumbotron">
            <h1 class="display-4">Temas</h1>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecciona al Estudiante
                </button>
            <div class="dropdown-menu">
               <div class="container" style="height: 180px;overflow-y: scroll;">
                    {% for tema in todos_temas %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'workClass:index_tema' tema.id %}">{{tema.nombre}}</a>
                    {% endfor %}
               </div>
            </div>
            </div>
            <hr class="my-4">
            <p><B>Nombre: </B>{{tema.nombre}}</p>
            <p><B>Descripcion: </B>{{tema.descripcion}}</p>
            <p><B>fecha: </B>{{tema.fecha}}</p>

        </div>

        </div>

    {% endblock %}
</body>
</html>


