{% extends 'workClass/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block arg_class3 %}active text-black{% endblock %}
    {% block multimodal %}
           <div class="container">
            <p></p>
            <div class="row">

                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-12">Videos</h1>

                            <div class="container" style="height: 235px;overflow-y: scroll;">
                            <div class="list-group ">
                                 {%for video in todos_videos%}
                                    {% if video.modificado == True %}
                                    <a href="{% url 'workClass:multimodal_emociones' video.id %}">
                                    <button id="video_click" type="button" class="list-group-item list-group-item-action">{{video.fecha}}</button>
                                    </a>
                                    {% endif %}
                                 {% endfor %}
                            </div>
                            </div>
                         <hr class="my-4">
                         <p>Seleccione el video para cargar el concepto de la analitica</p>
                    </div>
                 </div>
                 <div class="col-sm">
                    <div class="jumbotron">
                        <h1 class="display-12">Frecuencia emocional</h1>
                        <hr class="my-4">
                        <canvas id="doughnut-chart" width="50%" height="30vh"></canvas>
                        <script>
                            var emociones = JSON.parse('{{ emociones|safe }}');
                            var frec_emociones = JSON.parse('{{ frec_emociones|safe }}');
                            new Chart(document.getElementById("doughnut-chart"), {
                            type: 'doughnut',
                            data: {
                              labels: emociones,
                              datasets: [{
                                label: "Emociones (frecuencia)",
                                backgroundColor: ["#F0E00B","#F211D7","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                data: frec_emociones
                              }]
                            },
                            options: {
                            legend: {
                                position: 'right',
                            },
                              title: {
                                display: true,
                              }
                            }
                        });
                        </script>
                    </div>
                 </div>


                  </div>

            </div>


        </div>
    {% endblock %}
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#video_click').click(function(){
            $('#video_click').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>